@charset "UTF-8";
/*Mixins page d'acceuil*/
/*Mixins pages des menus*/
/*-----------------Paramètre global---------------*/
@keyframes loader {
  0% {
    color: yellow;
    text-shadow: 0 0 5px yellow;
    opacity: 1;
  }
  90% {
    color: lightgrey;
    opacity: 0.2;
  }
  100% {
    color: yellow;
    text-shadow: 0 0 5px yellow;
    opacity: 0;
    z-index: -1;
  }
}
/*mon loader*/
#loader {
  position: fixed;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: lightgrey;
  color: white;
  font-weight: bold;
  top: 0;
  animation: loader 1s 4s;
  animation-fill-mode: forwards;
}
#loader .letter:nth-child(1) {
  animation-delay: 0.1s;
}
#loader .letter:nth-child(2) {
  animation-delay: 0.2s;
}
#loader .letter:nth-child(3) {
  animation-delay: 0.3s;
}
#loader .letter:nth-child(4) {
  animation-delay: 0.4s;
}
#loader ul {
  list-style-type: none;
  font-size: 3rem;
  display: flex;
  letter-spacing: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
#loader ul li {
  animation: loader 1.5s infinite;
}

#exploreRestaurant {
  background: #F6F6F6;
  text-align: center;
  padding: 39px 26px 57px 34px;
}
#exploreRestaurant .exploreRestaurant__title {
  font-size: 2rem;
  padding-bottom: 10px;
}
#exploreRestaurant .exploreRestaurant__para {
  font-size: 1.12rem;
  padding-bottom: 17px;
}
#exploreRestaurant .exploreRestaurant__btn a {
  font-size: 1rem;
  padding: 13px 19px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.7s;
}
#exploreRestaurant .exploreRestaurant__btn a:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

#filtreRestaurant {
  background-color: #fff;
}
#filtreRestaurant .filtreRestaurant__bloc {
  padding: 48px 20px 68px;
}
#filtreRestaurant h2 {
  padding-bottom: 26px;
}
#filtreRestaurant nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 257px;
  justify-content: space-between;
}
#filtreRestaurant nav ul .nav__list {
  background: #F7F7F7;
  color: #000;
  list-style-type: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 322px;
  height: 72px;
  display: flex;
  font-weight: bold;
  transition: all 0.7s;
}
#filtreRestaurant nav ul .nav__list a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  text-decoration: none;
  width: 100%;
  position: relative;
}
#filtreRestaurant nav ul .nav__list a i {
  color: #7E7E7E;
}
#filtreRestaurant nav ul .nav__list a span {
  position: absolute;
  left: -15px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 0.93rem;
  background: #9356DC;
  color: #fff;
}
#filtreRestaurant nav ul .nav__list:hover {
  background: #F5EDFF;
}
#filtreRestaurant nav ul .nav__list:hover a > i {
  color: #9356DC;
}

#choiceRestaurant {
  background: #D2D2D2;
  padding: 48px 20px 68px;
}
#choiceRestaurant h2 {
  padding-bottom: 25px;
}
#choiceRestaurant #choiceRestaurant__article {
  display: flex;
  flex-direction: column;
}
#choiceRestaurant article {
  width: 100%;
  height: 251px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#choiceRestaurant article a [href="/restaurants/restaurant-la-palette-du-gout.html"] > .icone-not-clic > i {
  pointer-events: none;
}
#choiceRestaurant article a {
  position: relative;
  color: #000;
  text-decoration: none;
}
#choiceRestaurant article a .onglet {
  width: 80px;
  height: 29px;
  background: #99E2D0;
  color: #008766;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  font-size: 1rem;
  right: 15px;
  margin-top: 10px;
  padding-top: 5px;
}
#choiceRestaurant article img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#choiceRestaurant article .article__titlePara {
  padding: 5px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#choiceRestaurant article .article__titlePara .icon-regular-heart {
  font-size: 1.5rem;
}
#choiceRestaurant article .article__titlePara .icon-solid-heart {
  position: absolute;
  font-size: 1.5rem;
  right: 10px;
  background-clip: text;
  color: transparent;
  height: 0;
}
#choiceRestaurant article .article__titlePara .icon-solid-heart:hover {
  height: 100%;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  transition: all ease-out 4s;
}

@media screen and (min-width: 1024px) {
  body .header__icone i {
    left: 44%;
  }
  body .exploreRestaurant__title {
    font-size: 2rem;
    padding-bottom: 0;
  }
  body .exploreRestaurant__para {
    font-size: 1.12rem;
    margin: 18px 0 30px;
  }
  body #filtreRestaurant h2 {
    width: 1024px;
    margin: auto;
  }
  body #filtreRestaurant .filtreRestaurant__bloc--ul {
    flex-direction: row;
    justify-content: center;
    height: auto;
  }
  body #filtreRestaurant .filtreRestaurant__bloc--ul .nav__list--2 {
    margin: 0 36px;
  }
  body #choiceRestaurant {
    padding: 0;
  }
  body #choiceRestaurant .choiceRestaurant__bloc {
    padding: 48px 20px 68px;
  }
  body #choiceRestaurant .choiceRestaurant__bloc #choiceRestaurant__article {
    flex-direction: row;
    justify-content: center;
  }
  body #choiceRestaurant .choiceRestaurant__bloc #choiceRestaurant__article #choiceRestaurant__article--2 {
    margin-left: 26px;
    margin-right: 13px;
  }
  body #choiceRestaurant .choiceRestaurant__bloc #choiceRestaurant__article #choiceRestaurant__article--3 {
    margin-left: 13px;
    margin-right: 26px;
  }
}

/*# sourceMappingURL=home.css.map */
