/*Mixins page d'acceuil*/
@mixin new-tab {
    width: 80px;
    height: 29px;
    background: #99E2D0;
    color: #008766;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    right: 15px;
    margin-top: 10px;
    padding-top: 5px;
}

@mixin delay {
    .letter:nth-child(1) {
        animation-delay: 0.1s;
    }

    .letter:nth-child(2) {
        animation-delay: 0.2s;
    }

    .letter:nth-child(3) {
        animation-delay: 0.3s;
    }

    .letter:nth-child(4) {
        animation-delay: 0.4s;
    }
}
/*Mixins pages des menus*/

@mixin flex-menu{
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    border-radius: 20px 20px 0 0;
}

@mixin h2-style{
    font-family: 'shrikhand', sans-serif;
    padding: 32px 17px 42px;
    font-size: 1.75r
}

@mixin heart-style{
    position: absolute;
           top: 40px;
           right: 41px;
           font-size: 1.5rem;
           color: transparent;
           -webkit-text-stroke: #000 2px;
           background-clip: text;
           height: 0;
           cursor: pointer;
}

@mixin heart-hover{
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-text-stroke: #fff;
    transition: all ease-in-out 4s;
    height: 100%;
}

@mixin list-nav {
    position: absolute; 
    left: -15px;     
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 0.93rem;
    background: #9356DC;
    color: #fff;
}

@mixin subtitle{
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 13px;
}

@mixin dish-list {
    width: 100%;
    box-shadow: 0px 4.01149px 15.0431px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin: 12px 0 12px 13px;
    position: relative;
    padding: 12px 17px 12px 10px;
    cursor: pointer;
    animation: defil 0.2s both;
    white-space: nowrap;
    overflow: hidden;    
}

@mixin flex-text-encoche{
    display: flex;
    justify-content: space-between;
}

@mixin text-elipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin flex-bloc{
    display: flex;
    align-items: center;
}

@mixin reduc-menu{
    width: calc(100% - 80px);
    border-radius: 15px 0 0 15px;
    margin-right: 0;
}

@mixin initial-validation {
    color: transparent;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

@mixin final-validation {
    padding: 23px 20px;
    border-radius: 0 15px 15px 0;
    font-size: 1.25rem;
    background: #99E2D0;
    color: #fff;
    right: 5px;
    transform: scale(1);
}

@mixin initial-icone{
    position: absolute;
    right: 27px;
    font-size: 1.25rem;
    color: transparent;
}

@mixin final-icone{
    animation: rotateIcone 0.5s;
    background: #99E2D0;
    color: #fff;
}

@mixin price {
    right: 17px;
    bottom: 12px;
}

@mixin btn-commande{
    margin: 40px 0;
    text-align: center;
}

@mixin btn-commande-a{ 
    padding: 13px 48px;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    border: none;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
    font-size: 1rem;
    transition: all 0.7s;
}

@mixin btn-commande-hover{
    opacity: 0.8;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 35%);
    cursor: pointer;
}