@mixin subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 13px;
}

@mixin dish-list {
    box-shadow: 0px 4.01149px 15.0431px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin: 12px 13px;
    position: relative;
    width: auto;
    height: auto;
    padding: 12px 17px 12px 10px;
    cursor: pointer;
    animation: defil 1000ms both;
}

@mixin price {
    position: absolute;
    right: 17px;
    bottom: 12px;
}

@mixin travel-time-price{
    transform: translate(-250%, 0);
}

@mixin initial-validation {
    color: transparent;
    position: absolute;
    font-size: 1.25rem;
    padding: 25px 20px;
    top: 0;
    bottom: 0;
    right: 0;
}

@mixin final-validation {
    border-radius: 0 15px 15px 0;
    background: #99E2D0;
    color: #fff;
    transform-origin: right;
}