/*Mixins page d'acceuil*/
@mixin new-tab {
    width: 80px;
    height: 29px;
    background: #99E2D0;
    color: #008766;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    right: 15px;
    margin-top: 10px;
    padding-top: 5px;
}

@mixin delay {
    .letter:nth-child(1) {
        animation-delay: 0.1s;
    }

    .letter:nth-child(2) {
        animation-delay: 0.2s;
    }

    .letter:nth-child(3) {
        animation-delay: 0.3s;
    }

    .letter:nth-child(4) {
        animation-delay: 0.4s;
    }
}
/*Mixins pages des menus*/
@mixin list-nav {
    position: absolute; 
    left: -15px;     
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 0.93rem;
    background: #9356DC;
    color: #fff;
}

@mixin subtitle{
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 13px;
}

@mixin dish-list {
    width: 100%;
    box-shadow: 0px 4.01149px 15.0431px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin: 12px 0 12px 13px;
    position: relative;
    padding: 12px 17px 12px 10px;
    cursor: pointer;
    animation: defil 0.5s both;
    white-space: nowrap;
    overflow: hidden;    
}

@mixin flex-text-encoche{
    display: flex;
    justify-content: space-between;
}

@mixin text-elipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin flex-bloc{
    display: flex;
    align-items: center;
}

@mixin reduc-menu{
    width: calc(100% - 80px);
    border-radius: 15px 0 0 15px;
    margin-right: 0;
}

@mixin initial-validation {
    color: transparent;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

@mixin final-validation {
    padding: 23px 20px;
    border-radius: 0 15px 15px 0;
    font-size: 1.25rem;
    background: #99E2D0;
    color: #fff;
    right: 5px;
    transform: scale(1);
}

@mixin price {
    right: 17px;
    bottom: 12px;
}