/*Mixins page d'acceuil*/
/*Mixins pages des menus*/
@keyframes defil {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#bloc__mainFooter {
  position: relative;
  top: -60px;
}
#bloc__mainFooter .menuRestaurant {
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border-radius: 20px 20px 0 0;
}
#bloc__mainFooter .menuRestaurant h2 {
  font-family: "shrikhand", sans-serif;
  padding: 32px 17px 0;
  font-size: 1.75rem;
}
#bloc__mainFooter .menuRestaurant .heart_transition {
  position: absolute;
  top: 40px;
  right: 41px;
  font-size: 1.5rem;
  height: auto;
  /*regular heart*/
  /*solid heart*/
}
#bloc__mainFooter .menuRestaurant .heart_transition .icon-regular-heart {
  position: absolute;
  transition: all 2s;
}
#bloc__mainFooter .menuRestaurant .heart_transition:hover .icon-regular-heart {
  color: transparent;
}
#bloc__mainFooter .menuRestaurant .heart_transition .icon-solid-heart {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  opacity: 0;
  transition: all 2s;
}
#bloc__mainFooter .menuRestaurant .heart_transition:hover > .icon-solid-heart {
  opacity: 1;
  cursor: pointer;
}
#bloc__mainFooter .menuRestaurant #menu_1 {
  animation-delay: 0.5s;
}
#bloc__mainFooter .menuRestaurant #menu_2 {
  animation-delay: 1s;
}
#bloc__mainFooter .menuRestaurant #menu_3 {
  animation-delay: 1.5s;
}
#bloc__mainFooter .menuRestaurant #menu_4 {
  animation-delay: 2s;
}
#bloc__mainFooter .menuRestaurant #menu_5 {
  animation-delay: 2.5s;
}
#bloc__mainFooter .menuRestaurant #menu_6 {
  animation-delay: 3s;
}
#bloc__mainFooter .menuRestaurant #menu_7 {
  animation-delay: 3.5s;
}
#bloc__mainFooter .menuRestaurant #menu_8 {
  animation-delay: 4s;
}
#bloc__mainFooter .menuRestaurant #menu_9 {
  animation-delay: 4.5s;
}
#bloc__mainFooter .menuRestaurant #menu_10 {
  animation-delay: 5s;
}
#bloc__mainFooter .menuRestaurant .menuRestaurant__sousTitre--1 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 13px;
  padding-bottom: 5px;
  border-bottom: solid #99E2D0 3px;
  width: 40px;
  padding-top: 40px;
}
#bloc__mainFooter .menuRestaurant .menuRestaurant__sousTitre--2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 13px;
  padding-bottom: 5px;
  border-bottom: solid #99E2D0 3px;
  width: 40px;
  padding-top: 40px;
}
#bloc__mainFooter .menuRestaurant .menuRestaurant__sousTitre--3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 13px;
  padding-bottom: 5px;
  border-bottom: solid #99E2D0 3px;
  width: 40px;
  padding-top: 40px;
}
#bloc__mainFooter .menuRestaurant .bloc-menus {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert {
  width: 100%;
  height: 65px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 12px 13px;
  position: relative;
  padding: 12px 17px 12px 10px;
  cursor: pointer;
  animation: defil 0.2s both;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s 0.2s;
  background: white;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover h3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover h3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover h3 {
  width: calc(100% - 60px);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree h3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat h3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert h3 {
  transition: all 0.5s 0.2s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .elipsis, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .elipsis, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .elipsis {
  width: calc(100% - 60px);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .elipsis, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .elipsis, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .elipsis {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .elipsis .paragraph, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .elipsis .paragraph, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .elipsis .paragraph {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .elipsis .price, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .elipsis .price, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .elipsis .price {
  font-weight: bold;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche {
  display: flex;
  transform: translateX(100%);
  width: 70px;
  height: 70px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s 0.2s;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_1, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_1, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_1 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_2, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_2, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_2 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_3 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_4, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_4, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_4 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_5, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_5, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_5 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_6, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_6, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_6 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_7, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_7, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_7 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_8, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_8, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_8 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_9, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_9, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_9 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree .bloc-encoche #plat_10, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat .bloc-encoche #plat_10, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert .bloc-encoche #plat_10 {
  color: #fff;
  margin: auto;
  font-size: 1.25rem;
  transition: all 0.5s 0.2s;
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche {
  transform: translateX(0);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_1, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_1, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_1 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_2, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_2, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_2 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_3, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_3 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_4, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_4, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_4 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_5, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_5, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_5 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_6, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_6, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_6 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_7, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_7, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_7 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_8, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_8, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_8 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_9, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_9, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_9 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__entree:hover .bloc-encoche #plat_10, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__plat:hover .bloc-encoche #plat_10, #bloc__mainFooter .menuRestaurant .bloc-menus .menuRestaurant__dessert:hover .bloc-encoche #plat_10 {
  transform: rotate(360deg);
}
#bloc__mainFooter .menuRestaurant .btnCommande {
  margin: 40px 0;
  text-align: center;
}
#bloc__mainFooter .menuRestaurant .btnCommande a {
  padding: 13px 48px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  border: none;
  text-decoration: none;
  font-weight: bolder;
  color: #fff;
  font-size: 1rem;
  transition: all 0.7s;
}
#bloc__mainFooter .menuRestaurant .btnCommande a:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .container #bloc__mainFooter {
    top: -250px;
  }
  .container #bloc__mainFooter .menuRestaurant {
    width: 80%;
    margin: auto;
    position: relative;
  }
}/*# sourceMappingURL=style-menus.css.map */