@use "../mixins/mixins";

@keyframes defil {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

   #bloc__mainFooter{
       position: relative;
       top: -60px;
    
       .menuRestaurant {
           @include flex-menu;

           h2 {
               @include h2-style;
           }

           .heart_transition {
                @include double-heart;
                /*regular heart*/
                .icon-regular-heart{
                    @include heart-regular;
                }
                &:hover .icon-regular-heart{
                    color: transparent;
                }

                /*solid heart*/
                .icon-solid-heart {
                    @include heart-solid;
                }

                &:hover > .icon-solid-heart{
                    @include heart-solid-hover;
                }
            } 

           @for $i from 1 through 10 {
               #menu_#{$i} {
                   animation-delay: 0.5s * $i;
               }
           }

           @for $i from 1 through 3 {
                .menuRestaurant__sousTitre--#{$i}{
                    @include subtitle;
                }
           }
    
            .bloc-menus {
               @include flex-bloc;

                             
                .menuRestaurant__entree,.menuRestaurant__plat,.menuRestaurant__dessert{
                    @include dish-list;
                    &:hover h3{
                        @include reduc-width;
                    }
                    h3{
                        transition: all 0.5s 0.2s;
                        @include text-elipsis;
                    }
                    &:hover .elipsis{
                        @include reduc-width;
                    }
                    .elipsis {
                    @include flex-text-encoche;
                        .paragraph {
                            @include text-elipsis;
                        }
                        .price{
                            font-weight: bold;
                        }
                    }

                    .bloc-encoche{ 
                        @include init-encoche;
                        @for $i from 1 through 10{
                            #plat_#{$i}{       
                                @include init-icone;
                            }
                        }
                    }

                    &:hover .bloc-encoche{
                        transform: translateX(0);
                        @for $i from 1 through 10{
                            #plat_#{$i}{
                                transform: rotate(360deg);
                            }
                        }
                    }  
                }
            }   

           .btnCommande {
               @include btn-commande;
               a{ 
               @include btn-commande-a;
                   &:hover{
                       @include btn-commande-hover;
                   }
               }
               
           }
        }
    }
   


@media screen and (min-width:1024px) {
    .container{
        #bloc__mainFooter {
            top: -250px;
            .menuRestaurant {
                width: 80%;
                margin: auto;
                position: relative;
            }
        } 
    }
}