@import "../mixins/mixins";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@keyframes defil {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotateIcone{
    0%{
        transform:rotate(45deg)
    }
    100%{
       transform:rotate(360deg);
    }
}

.container {
    margin: auto;
    #bloc__mainFooter{
        position: relative;
        top: -60px;
        
        .mainSection {
            display: flex;
            flex-direction: column;
            background: #F7F7F7;
            border-radius: 20px 20px 0 0;

            h2 {
                font-family: 'shrikhand', sans-serif;
                padding: 32px 17px 42px;
                font-size: 1.75rem;
            }

            .icon-solid-heart {
                position: absolute;
                top: 40px;
                right: 41px;
                font-size: 1.5rem;
                color: transparent;
                -webkit-text-stroke: #000 2px;
                background-clip: text;
                height: 0;
                cursor: pointer;

                &:hover {
                    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                    -webkit-text-stroke: #fff;
                    transition: all ease-in-out 4s;
                    height: 100%;
                }
            }

            @for $i from 1 through 10 {
                #menu_#{$i} {
                    animation-delay: 0.5s * $i;
                }
            }

            .mainSection__sousTitre--entree,.mainSection__sousTitre--plat,.mainSection__sousTitre--dessert {
                @include subtitle;
            }

            .bloc-entree {
                @include flex-bloc;
                
                #plat_1,#plat_2,#plat_3,#plat_4,#plat_5,#plat_6,#plat_7,#plat_8,#plat_9,#plat_10 {
                    @include initial-validation;
                }

                .encoche-rotate {
                    @include initial-icone; 
                }

                .mainSection__entree,.mainSection__plat,.mainSection__dessert {
                    @include dish-list;
                    &:hover {                
                        @include reduc-menu;
                    }
                    .elipsis {
                        @include flex-text-encoche;
                        .paragraph {
                            @include text-elipsis;
                        }
                    }

                    &:hover + #plat_1{
                        @include final-validation;
                    }

                    &:hover + #plat_1 + .encoche-rotate{
                        @include final-icone; 
                    }
                    
                    &:hover + #plat_2{
                        @include final-validation;
                    }

                    &:hover + #plat_2 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_3{
                        @include final-validation;
                    }

                    &:hover + #plat_3 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_4{
                        @include final-validation;
                    }

                    &:hover + #plat_4 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_5{
                        @include final-validation;
                    }

                    &:hover + #plat_5 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_6{
                        @include final-validation;
                    }

                    &:hover + #plat_6 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_7{
                        @include final-validation;
                    }

                    &:hover + #plat_7 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_8{
                        @include final-validation;
                    }

                    &:hover + #plat_8 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_9{
                        @include final-validation;
                    }

                    &:hover + #plat_9 + .encoche-rotate{
                        @include final-icone; 
                    }

                    &:hover + #plat_10{
                        @include final-validation;
                    }

                    &:hover + #plat_10 + .encoche-rotate{
                        @include final-icone; 
                    }
                }
            }

            #btnCommande {
                margin: 40px 0;
                text-align: center;
                a{ 
                padding: 13px 48px;
                background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
                border-radius: 25px;
                border: none;
                text-decoration: none;
                font-weight: bolder;
                color: #fff;
                font-size: 1rem;
                    &:hover{
                        opacity: 0.8;
                        box-shadow: 4px 4px 4px rgb(0 0 0 / 35%);
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .container{
        #bloc__mainFooter {
            position: relative;
            top: -250px;
            .mainSection {
                width: 80%;
                margin: auto;
                position: relative;
            }
        } 
    }
}